//
// Labels
// --------------------------------------------------

.label {
  border-radius: 0px;
}

// Colors
// Contextual variations (linked labels get darker on :hover)

.label-default {
  border-radius: 0px;
}

.label-primary {
  border-radius: 0px;
}

.label-success {
  border-radius: 0px;
}

.label-info {
  border-radius: 0px;
}

.label-warning {
  border-radius: 0px;
}

.label-danger {
  border-radius: 0px;
}
