# Always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# OS junk
.DS_Store
._*
Thumbs.db

# Application directories
.idea/

# Package management directories
node_modules/

# Package management files
package-lock.json

# Build artifacts
.tmp/
.gobble/
.gobble-build/
dist/

