// Windows colors
$windows-amethyst: #B146C2;
$windows-bilbao: #107C10;
$windows-blue-lagoon: #038387;
$windows-bondi-blue: #0099BC;
$windows-boulder1: #7A7574;
$windows-boulder2: #767676;
$windows-burnt-sienna: #EF6950;
$windows-chetwode-blue: #8E8CD8;
$windows-chicago: #5D5A58;
$windows-coral-red: #FF4343;
$windows-crimson: #E81123;
$windows-cutty-sark: #567C73;
$windows-ecstasy: #F7630C;
$windows-endeavour: #0063B1;
$windows-flirt1: #BF0077;
$windows-flirt2: #9A0089;
$windows-fuchsia-pink: #C239B3;
$windows-fuscous-gray: #4C4A48;
$windows-glade-green: #647C64;
$windows-grenadier: #DA3B01;
$windows-hollywood-cerise: #E3008C;
$windows-jade: #00CC6A;
$windows-jelly-bean: #2D7D9A;
$windows-limeade: #498205;
$windows-lipstick: #C30052;
$windows-lochmara: #0078D7;
$windows-mandy: #E74856;
$windows-mineral-green: #486860;
$windows-moody-blue: #6B69D6;
$windows-nandor: #525E54;
$windows-nevada: #69797E;
$windows-observatory: #018574;
$windows-pablo: #7E735F;
$windows-persian-green: #00B294;
$windows-persian-red: #D13438;
$windows-pizazz: #FF8C00;
$windows-razzmatazz: #EA005E;
$windows-river-bed: #4A5459;
$windows-robins-egg-blue: #00B7C3;
$windows-salem: #10893E;
$windows-seance: #881798;
$windows-selective-yellow: #FFB900;
$windows-shadow: #847545;
$windows-shuttle-gray: #515C6B;
$windows-slate-gray: #68768A;
$windows-studio: #744DA9;
$windows-tia-maria: #CA5010;
$windows-wisteria: #8764B8;

// XBox colors
$xbox-amethyst: #B144C0;
$xbox-bilbao: #107C10;
$xbox-crimson: #E31123;
$xbox-crocodile: #7E715C;
$xbox-cutty-sark: #547A72;
$xbox-denim1: #1073D6;
$xbox-denim2: #1081CA;
$xbox-dove-gray: #737373;
$xbox-french-rose: #ED5588;
$xbox-fun-blue: #193E91;
$xbox-genoa: #148282;
$xbox-golden-bell: #EB8C10;
$xbox-milano-red: #BF1007;
$xbox-old-copper: #724F2F;
$xbox-pale-sky: #677488;
$xbox-pomegranate: #EB4910;
$xbox-studio: #744DA9;
$xbox-surfie-green: #108272;
$xbox-tamarillo: #A21025;
$xbox-tundora: #4C4A4B;
$xbox-vida-loca: #54A81B;

// Only overriding this because I needed the reference.
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$colors: (
  windows-amethyst: $windows-amethyst,
  windows-bilbao: $windows-bilbao,
  windows-blue-lagoon: $windows-blue-lagoon,
  windows-bondi-blue: $windows-bondi-blue,
  windows-boulder1: $windows-boulder1,
  windows-boulder2: $windows-boulder2,
  windows-burnt-sienna: $windows-burnt-sienna,
  windows-chetwode-blue: $windows-chetwode-blue,
  windows-chicago: $windows-chicago,
  windows-coral-red: $windows-coral-red,
  windows-crimson: $windows-crimson,
  windows-cutty-sark: $windows-cutty-sark,
  windows-ecstasy: $windows-ecstasy,
  windows-endeavour: $windows-endeavour,
  windows-flirt1: $windows-flirt1,
  windows-flirt2: $windows-flirt2,
  windows-fuchsia-pink: $windows-fuchsia-pink,
  windows-fuscous-gray: $windows-fuscous-gray,
  windows-glade-green: $windows-glade-green,
  windows-grenadier: $windows-grenadier,
  windows-hollywood-cerise: $windows-hollywood-cerise,
  windows-jade: $windows-jade,
  windows-jelly-bean: $windows-jelly-bean,
  windows-limeade: $windows-limeade,
  windows-lipstick: $windows-lipstick,
  windows-lochmara: $windows-lochmara,
  windows-mandy: $windows-mandy,
  windows-mineral-green: $windows-mineral-green,
  windows-moody-blue: $windows-moody-blue,
  windows-nandor: $windows-nandor,
  windows-nevada: $windows-nevada,
  windows-observatory: $windows-observatory,
  windows-pablo: $windows-pablo,
  windows-persian-green: $windows-persian-green,
  windows-persian-red: $windows-persian-red,
  windows-pizazz: $windows-pizazz,
  windows-razzmatazz: $windows-razzmatazz,
  windows-river-bed: $windows-river-bed,
  windows-robins-egg-blue: $windows-robins-egg-blue,
  windows-salem: $windows-salem,
  windows-seance: $windows-seance,
  windows-selective-yellow: $windows-selective-yellow,
  windows-shadow: $windows-shadow,
  windows-shuttle-gray: $windows-shuttle-gray,
  windows-slate-gray: $windows-slate-gray,
  windows-studio: $windows-studio,
  windows-tia-maria: $windows-tia-maria,
  windows-wisteria: $windows-wisteria,
  xbox-amethyst: $xbox-amethyst,
  xbox-bilbao: $xbox-bilbao,
  xbox-crimson: $xbox-crimson,
  xbox-crocodile: $xbox-crocodile,
  xbox-cutty-sark: $xbox-cutty-sark,
  xbox-denim1: $xbox-denim1,
  xbox-denim2: $xbox-denim2,
  xbox-dove-gray: $xbox-dove-gray,
  xbox-french-rose: $xbox-french-rose,
  xbox-fun-blue: $xbox-fun-blue,
  xbox-genoa: $xbox-genoa,
  xbox-golden-bell: $xbox-golden-bell,
  xbox-milano-red: $xbox-milano-red,
  xbox-old-copper: $xbox-old-copper,
  xbox-pale-sky: $xbox-pale-sky,
  xbox-pomegranate: $xbox-pomegranate,
  xbox-studio: $xbox-studio,
  xbox-surfie-green: $xbox-surfie-green,
  xbox-tamarillo: $xbox-tamarillo,
  xbox-tundora: $xbox-tundora,
  xbox-vida-loca: $xbox-vida-loca
);

$primary: $windows-bondi-blue;
$secondary: $gray-600;
$success: $windows-salem;
$info: $windows-lochmara;
$warning: $windows-selective-yellow;
$danger: $windows-crimson;
$light: $gray-100;
$dark: $gray-800;

// Options
$enable-rounded: false;

$spacer: 1.25rem;

$grid-breakpoints: (
  xs: 0,
  sm: 1px,
  md: 641px,
  lg: 1008px,
  xl: 1009px
);

$line-height-base: 1.6;
